<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy>
                <Delete basePath="%{baseDir}" maxDepth="1">
                <IfFileName glob="hippodrome.*.log"/>
                <IfLastModified age="7d"/>
            </Delete>
        </DefaultRolloverStrategy>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="Horse" level="debug" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="Hippodrome" level="debug" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="Main" level="debug" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>